*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .2s ease-in-out;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFD845;
}

img{
    object-fit: cover;
}